.signupContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    background-image: url('https://www.storyblocks.com/images/stock/health-and-medical-background-with-doctor-swbgcffrx_wj6gonicd');
    background-size: cover;
    background-position: center;
    max-width: 1500px;
  }
  
  .signupBox {
    width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for the form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15%;
    margin-top: 10px;
  }
  
  .signupBox form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .signupBox form > * {
    margin-bottom: 20px;
  }
  
  .signupBox form > button {
    margin-top: 20px;
  }
  