
body{
    margin: 0;
}
.topnav {
    background-color: rgba(21,114,161,255); /* Set navbar color to match the theme */
    overflow: hidden;
    padding: 8px 16px; /* Adjust padding */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Center items vertically */
}

.topnav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for text color */
}

.topnav a:hover {
    color: whitesmoke; /* Change text color on hover */
}

.topnav button {
    background-color: #ffffff; /* Set button color to match navbar */
    color:#1572a1;
    border: none;
    font-weight: bold;
    padding: 8px 16px; /* Adjust padding */
    cursor: pointer;
    margin-right: "10px";
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.topnav button:hover {
    background-color: white; /* Change button color on hover */
    color: #24477d; /* Change text color on hover */
}


.container {
    max-width: 700px;
    margin: 0 auto;
}


label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, .btn {
    background-color: #6C5B7B;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover, .btn:hover {
    background-color: white;
    color: #6C5B7B;
}

.completebody{
    display: flex;
    flex-direction: column;

}